<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>jaggr-webSample</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>  	
  <servlet>
	    <description>The jaggr servlet handles requests to aggregate JS modules</description>
	    <display-name>JAGGR Servlet</display-name>
	    <servlet-name>JaggrServlet</servlet-name>
	    <servlet-class>com.ibm.jaggr.web.impl.AggregatorImpl</servlet-class>
	    <init-param>
	      <param-name>alias</param-name>
	      <param-value>/jaggr-webSample/jaggr</param-value>
	    </init-param>
	    <init-param>
	      <param-name>config</param-name>
	      <param-value>aggrConfig.js</param-value>
		</init-param>
  </servlet>
  <servlet-mapping>
	    <servlet-name>JaggrServlet</servlet-name>
	    <url-pattern>/jaggr/*</url-pattern>
  </servlet-mapping>  
</web-app>